@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

body {
    background-color: Snow;
}

body, html {
    height: 100%;
}

#back {
    height:auto;
    width:auto;
    object-fit: cover;
    overflow: hidden;
}
