@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

.jumbotron {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
#largedisplay {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c5/Moraine_Lake_17092005.jpg');
  height: 75vh;
}
#disp2 {
  background-image: url("https://whatsonmyblackboard.files.wordpress.com/2014/10/siskaoct2014.jpg");
  min-height: 100%;
}
.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}
.col-md-6 {
  margin: 0 0 30px;
}
body {
    background-color: Snow;
}
